---
import '@fontsource/dm-serif-display';
import '@fontsource/eb-garamond';
import '@fontsource/eb-garamond/400-italic.css'
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title?: string;
	description?: string;
}

const { title = "dev.kresna.me", description = "Kresna's blog for Programming" } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const currentLang = Astro.url.pathname.startsWith('/id') ? 'id' : 'en';
---

<!doctype html>
<html lang={currentLang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta property="og:type" content="website">
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalURL}>
		<meta property="twitter:card" content="summary" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
	</head>
	<body>
		<div class="container">
			<Navigation lang={currentLang} />
			<slot />
			<Footer />
		</div>
	</body>
</html>

<style is:global>
	/*
	1. Use a more-intuitive box-sizing model.
	*/
	*, *::before, *::after {
		box-sizing: border-box;
	}

	/*
	2. Remove default margin
	*/
	* {
		margin: 0;
	}

	/*
	3. Allow percentage-based heights in the application
	*/
	html, body {
		height: 100%;
	}

	html {
		font-family: 'EB Garamond', serif;
	}

	h1,
	h2 {
		font-family: 'DM Serif Display', serif;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	p, ol {
		font-size: 1.25rem;
	}

	nav {
		font-size: 1.25rem;
		margin: .5rem 0;
		padding: 1rem;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
		font-size: 1rem;
		background-color: rgb(237, 238, 243);
		padding: .25rem;
		color: orangered;
	}

	pre {
		margin-bottom: 1rem;
	}

	pre > code {
		background-color: initial;
		padding: initial;
		color: initial;
	}

	main {
		margin: 0 auto;
		padding: 1rem;
		line-height: 1.6;
	}
	
	h1 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	
	blockquote {
		font-style: italic;
	}

	.container {
		width: 100%;
		margin: 0 auto;
		padding: 0 1rem;
	}

	@media screen and (min-width: 1024px) {
		.container {
			max-width: 1024px;
		}		
	}
</style>
