---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Kresna's domain on Software Development" } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalURL}>
		<meta property="twitter:card" content="summary" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
	</head>
	<body>
		<div class="container">
			<Navigation />
			<slot />
			<Footer />
		</div>
	</body>
</html>
<style is:global>
	/*
	1. Use a more-intuitive box-sizing model.
	*/
	*, *::before, *::after {
		box-sizing: border-box;
	}

	/*
	2. Remove default margin
	*/
	* {
		margin: 0;
	}

	/*
	3. Allow percentage-based heights in the application
	*/
	html, body {
		height: 100%;
	}

	html {
		font-family: system-ui, sans-serif;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	main {
		margin: 0 auto;
		padding: 1rem;
		line-height: 1.6;
	}
	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	
	blockquote {
		font-style: italic;
	}

	.container {
		width: 960px;
		margin: 0 auto;
		padding: 16px;
		height: 100%;
	}
</style>
