---
import PostLanguageSwitcher from '../components/PostLanguageSwitcher.astro';
import Toc from '../components/Toc.astro';
import Layout from "./Layout.astro";

const { frontmatter, headings } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
    <h1 style="text-align: left; font-size: 2rem;">{frontmatter.title}</h1>
    <div style="display: flex; flex-wrap: wrap; gap: 0 .5rem; align-items: center;">
        <span>{(new Intl.DateTimeFormat('en-US', { dateStyle: 'full' })).format(new Date(frontmatter.pubDate))}</span>
        <PostLanguageSwitcher currentId={frontmatter.id}/>
    </div>
    <Toc headings={headings}/>
    <article>
        <slot />
    </article>
</Layout>

<style>
    article :global(h2) {
        font-size: 1.75rem;
    }

    article :global(h3) {
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    article :global(p) {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.25rem;
        word-wrap: break-word;
    }

    article :global(ol), article :global(ul) {
        font-size: 1.25rem;
    }

    article :global(blockquote) {
        font-style: italic;
        margin: 0;
        border-left: 2px solid gray;
        padding-left: .5rem;
        color: rgb(20, 29, 40);
    }

    article :global(img) {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        display: block;
    }

    article :global(pre) {
        padding: 1rem;
    }

    article :global(code) {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
		font-size: 1rem;
		background-color: rgb(237, 238, 243);
		padding: .25rem;
		color: orangered;
	}

	article :global(pre) {
		margin-bottom: 1rem;
	}

	article :global(pre > code) {
		background-color: initial;
		padding: initial;
		color: initial;
	}

    article :global(.rcg-tab-container) {
        overflow-x: auto;
    }
</style>